*/
!.gitignore


# LaTeXTools

!LaTeXTools/
LaTeXTools/*
!LaTeXTools/builders
LaTeXTools/builders/*
!LaTeXTools/builders/traditionalBuilder.py

# MarkdownEditing

!MarkdownEditing/

# sublime-jsdocs (submodlue)

!sublime-jsdocs/

# Table Editor

!Table Editor/

# User

!User/
!User/**
User/Package Control.cache/
User/Package Control.ca-certs/
User/Package Control.last-run
User/Package Control.ca-list
User/Package Control.ca-bundle
User/Package Control.merged-ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.user-ca-bundle

# ignore by extentions

.DS_Store
*.crt
*.cache
*_tmp
*~
